@import url('https://fonts.googleapis.com/css?family=Itim');
body {
  margin: 0;
  font-family:"Itim";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:darkslategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
